<a href="{{ action.customHref ?? path(route ~ '_' ~ action.index, {id: entity.id}) }}" {% if action.classes is not empty %} class="{{ action.classes|join(' ') }}" {% endif %}>
    {{ action.label|humanize|trans }}
</a>