$enable-dark-mode: false;
@import '~@tabler/core';
@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";

.batch-column {
  width: 15px;
  @include media-breakpoint-down(md) {
    width: auto;
  }
}

@include media-breakpoint-up(sm) {
  .w-sm-auto {
    width: auto !important;
  }
}

.table th > a {
  display: block;
  white-space: nowrap;
}

.btn-group-table > a, .btn-group-table > button {
  font-size: .8rem;
}

.btn-table-dropdown {
  width: 32px;
  height: 32px;
  padding: 0 !important;
}

.table-thumbnail {
  min-width: 80px;
}

@mixin card {
  margin-bottom: .5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(110, 117, 130, 0.2);
  border-radius: 3px;
}

@include media-breakpoint-up(sm) {
  .table-card {
    @include card;
  }
}

@include media-breakpoint-down(sm) {

  .table-card > table.table {

    border: 0;

    thead {
      display: none;
    }

    tr {
      @include card;
    }

    td {
      display: block;
    }

    td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      width: 100%;
    }

    td:last-child {
      border-bottom: 0;
    }
  }

}


.btn-collection-container {
  position: absolute;
  right: 0;
  top: 0;
}
.btn-collection {
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  box-shadow: none !important;

  &-remove:hover {
      color: $danger;
  }
}

.position input {
  padding: 12px;
  @-moz-document url-prefix() {
    padding: 12px 0 12px 12px;
  }
  height: 28px;
}

html, body {
  height: 100%;
}

.select2-results__option {
  min-height: 30px;
}

// tmp fix :
.card-footer {
  background-color: #FFFFFF;
}

.table > thead > tr > th {
  background-color: #fbfcff;
}

.mb-3-5 {
  margin-bottom: 1.25rem;
}

tr.highlighted {
  animation: highlighted-row-refresh 0.4s ease-in-out forwards;
}

@keyframes highlighted-row-refresh {
  from {
    background-color: #ffffa5;
  }
  to {
    background-color: none;
  }
}

.position input {
  max-width: 55px;
}

.position .btn {
  max-width: 30px;
  padding: 5px;
}

.card-fieldset {
  @extend .card;
  @extend .px-3;

  .card-fieldset-legend {
    @extend .w-auto;
    @extend .px-1;
    @extend .h2;
    @extend .float-none;
  }
}