@import '~@tabler/core';
@import "ux-media";
@import "ux-collection";
@import "slim-select";
@import "tinymce";
@import "a2lix";

@mixin card {
  margin-bottom: .5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--#{$variable-prefix}card-bg);
  background-clip: border-box;
  border: 1px solid rgba(110, 117, 130, 0.2);
  border-radius: 3px;
}

[data-bs-theme=dark] {
  --btn-border-color: #2C3C56;
  --btn-border-outline-color: #67758c;
  --tbl-hover-light: #1B283A;
}

:root {
  --tblr-body-bg: #f8fafc;
  --btn-border-color: #E6E7E9;
  --btn-border-outline-color: #b6b6b6;
  --tbl-hover-light: #fcfcfc;
  --tblr-navbar-color: rgba(30, 41, 59, 0.7);
  --tblr-border-color-active: #b3b7bd;
}

body .markdown > table > thead > tr > body th, body .table > thead > tr > th {
  background-color: var(--tblr-table-bg);
}

.batch-column {
  width: 15px;
  @include media-breakpoint-down(md) {
    width: auto;
  }
}

.batch-actions-container {
  border-top: 1px solid var(--btn-border-color);
  padding: 5px;
}

@include media-breakpoint-up(sm) {
  .w-sm-auto {
    width: auto !important;
  }
  .table-card {
  }
  .table-responsive {
    overflow: auto;
  }
}

.table th > a {
  display: block;
  white-space: nowrap;
}

.btn-group-table > a, .btn-group-table > button {
  font-size: .8rem;
  border: 1px solid var(--btn-border-color);
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.btn-table-dropdown {
  width: 32px;
  height: 32px;
  padding: 0 !important;
}

.table-thumbnail {
  min-width: 80px;
}

@include media-breakpoint-down(sm) {

  .batch-actions-container {
    border: 1px solid var(--btn-border-color);
  }

  .table-card {
    border: none;
    box-shadow: none;

    & > table.table {

      background-color: var(--tblr-body-bg);
      box-shadow: none;

      thead {
        display: none;
      }

      tr {
        @include card;
        background-color: var(--tblr-bg-surface) !important;
      }

      td {
        display: block;
      }

      td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        width: 100%;
      }

      td:last-child {
        border-bottom: 0;
      }
    }
  }

  .table-responsive .dropdown-menu {
    position: static !important;
  }
}

.btn-collection-container {
  position: absolute;
  right: 0;
  top: 0;

  >.w-100 {
    display: none !important;
  }
}
.btn-collection {
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  box-shadow: none !important;

  &-remove:hover {
      color: $danger;
  }
}

.input-group.position {
  --height: 28px;
  box-shadow: none;
  input {
    padding: 12px 0 12px 12px;
    @-moz-document url-prefix() {
      padding: 12px 0 12px 12px;
    }
    &::-webkit-inner-spin-button {
      height: var(--height);
    }
    height: var(--height);
  }
  &.position-btn-invisible input {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
  }
}

html, body {
  height: 100%;
}


.table > thead > tr > th {
  background-color: var(--tblr-body-bg);
}

.mb-3-5 {
  margin-bottom: 1.25rem;
}

tr.highlighted {
  animation: highlighted-row-refresh 0.4s ease-in-out forwards;
}

@keyframes highlighted-row-refresh {
  from {
    background-color: #ffffa5;
  }
  to {
    background-color: inherit;
  }
}

@keyframes highlighted-row-refresh-dark {
  from {
    background-color: #364257;
  }
  to {
    background-color: inherit;
  }
}

.position input {
  max-width: 55px;
}

.position .btn {
  max-width: 30px;
  padding: 5px;
}

.card-fieldset {
  @extend .card;
  @extend .px-3;
  @extend .mb-3-5;

  .card-fieldset-legend {
    @extend .w-auto;
    @extend .px-1;
    @extend .h2;
    @extend .float-none;
  }
}

.table-view>tbody>tr:last-child {
  border-bottom-color: transparent;
}

.bg-gray-ultra-light {
  background-color: #fcfcfc;
}

.search-box {
  @extend .position-absolute, .bg-white, .w-100, .border;
  border-top: none;
  max-height: 500px;
  z-index: 100;
  margin-top: -1px;
  overflow-y: auto;

  .list-group {
    border-radius: 0;

    .list-group-item {
      border-left: none;
      border-right: none;
      &.active {
        @extend .bg-blue-lt;
        border-color: lighten($blue, 40%);
      }
      &:hover {
        background-color: rgba(var(--tblr-muted-rgb), 0.04);
      }
    }
  }
}
[data-bs-theme=dark] .search-box {
  border-color: var(--btn-border-color) !important;
  .list-group {
    background-color: var(--tblr-body-bg)
  }
}

.global-search-item {
  input {
    border: none;
    box-shadow: none;
  }
  .input-icon-addon {
    color: #dcdcdc !important;
  }
}

.table > tbody > tr:last-child td {
  border-bottom: 0;
}

.table-card {
  @extend .card;
}

.btn-link:hover {
  background-color: transparent;
}

.no-required-mark .required:after {
  display: none;
}

input[type='color'] {
  max-width: 50px;
  padding: 2px;
}

.table-pagination .result-count {
  @include media-breakpoint-down(sm) {
      font-size: 12px;
  }
}
.search-form input {
  border-color: var(--btn-border-color);
}
.dark-mode-switcher {
  cursor: pointer;
  input.form-check-input {
    cursor: pointer;
    margin-left: 0;
    margin-right: 10px;
  }
  label {
    cursor: pointer;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

.table-hover-light > tbody > tr:hover {
  background-color: var(--tbl-hover-light);
}

tr.batch-highlighted {
  background-color: var(--tbl-hover-light);
}

.navbar-brand {
  transition: color 200ms;
  --tblr-navbar-brand-hover-color: var(--tblr-gray-600-darken);
}

.navbar .navbar-nav .nav-link .badge.badge-number {
  display: inline-block;
  position: relative;
  left: 2px;
  transform: none;
  text-align: center;
  top: 0;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 1.6em;
  height: 1.6em;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar.navbar-vertical .navbar-nav .nav-link .badge.badge-number {
  left: 5px;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item .badge.badge-number {
  min-width: 1.9em;
  margin-left: 5px;
}

.card-footer-sticky {
  position: sticky;
  bottom: -1px;
  z-index: 2;
}

.card-footer-sticky-active {
  box-shadow: 1px -3px 5px rgba(50, 50, 50, 0.1);
}

@include media-breakpoint-up(md) {
  .nav-item .nav-link {
    line-height: 32px;
  }
}

textarea[data-controller~="textarea"] {
  resize: none;
}

.mt-checkbox {
  margin-top: 2.1rem !important;
}

.form-check label {
  display: inline-block;
}

[data-bs-theme=dark] input[type="number"] {
  border: 1px solid #D7CDBA;
  background-color: #E5DDCB;
  color: black;
  filter: invert(1);
  &:focus {
    box-shadow: 0 0 0 0.25rem #a1a182;
  }
}

[data-bs-theme=dark] {

  .navbar-brand {
    --tblr-navbar-brand-hover-color: var(--tblr-gray-200-darken);
  }

  .card-footer {
    --tblr-card-cap-bg: var(--tblr-card-bg)
  }

  tr.highlighted {
    animation: highlighted-row-refresh-dark 0.4s ease-in-out forwards;
  }

  .a2lix_translations {
    .nav-link.active {
      background-color: #1A2234;
    }

    .a2lix_translationsFields {
      border-color: #262E3F !important;
    }
  }

  .tox-tinymce {
    border-color: #243049;
    &.focus {
      border-color: #243049;
      //box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
    }
  }

  input[type="number"] {
    border: 1px solid #D7CDBA;
    background-color: #E5DDCB;
    color: black;
    filter: invert(1);
    &:focus {
      box-shadow: 0 0 0 0.25rem #a1a182;
    }
  }
}

.navbar-vertical .navbar-nav .nav-link {
  --tblr-navbar-color: rgb(255 255 255 / 70%);
}

.navbar-vertical .nav-item.active {
  background: var(--tblr-navbar-active-bg);
}

.btn-group-sm>.btn, .btn-sm {
  --tblr-btn-padding-x: 0.55rem;
}

:root {
  scroll-behavior: initial;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    scroll-behavior: smooth;
  }
}

.theme-dropdown .dropdown-toggle:after {
  margin-left: auto;
}

@media (min-width: 768px)  {
  .mt-md-multilingual {
    margin-top: 3rem;
  }
}

.vertical-layout {
  [data-pagebundle-mode="livepreview"] .pagebundle-container {
    left: 238px;
    width: calc(100% - 238px) !important;
  }

  .page-file-manager {
    iframe {
      width: 100%;
      height: calc(100vh - 200px);
      min-height: 200px;
    }

    .page {
      min-height: auto;
    }
  }

  #navbar-menu .nav-link {
    transition: all 200ms linear;

    &:hover {
      background-color: #313e57;
      color: white;
    }
  }

  .hide-required-star .required:after {
    display: none;
  }

  .page {
    min-height: auto;
  }

  .navbar-vertical.navbar-expand-lg {
    overflow-y: auto !important;

    .dropdown-item {
      transition: all 200ms linear;
      &:hover {
        background-color: #313e57;
        color: white;
      }
    }

  }
}

.dropdown-menu {
  --tblr-dropdown-link-hover-bg: rgba(var(--tblr-muted-rgb), 0.04);
}

@media (min-width: 2000px) {
  .container-xxl {
    max-width: 1600px;
  }
}

.alert {
  --bg-alert: var(--tblr-white);
  background-color: var(--bg-alert);
}

[data-bs-theme=dark] .alert {
  --bg-alert: var(--tblr-bg-surface)
}