.btn-collection-remove:hover {
  @extend .text-danger;
}

.btn-collection-remove .icon {
  color: inherit;
}

.btn-collection-container button .icon {
  margin: 0;
}

.arkounay-ux-collection .collection-content {
  @extend .my-3
}

.arkounay-ux-collection .collection-hide-delete .collection-content {
  @extend .my-0
}

.arkounay-ux-collection .btn-outline-secondary:hover {
  color: inherit;
}

.theme-dark .arkounay-ux-collection {
  .btn {
    color: #626976;
    &:hover {
      color: var(--tblr-btn-color-text);
    }
  }
  .card {
    border-color: var(--tblr-border-color);
  }

  .nav-link.active {
    background-color: #1B2434;
  }
}

.bg-light.text-secondary {
  color: var(--tblr-border-color);
}

.arkounay-ux-collection .collection-add {
  border: 1px solid var(--tblr-border-color);
  &:hover {
    border: 1px solid var(--btn-border-outline-color);
  }
}

.arkounay-ux-collection.arkounay-ux-collection--tabbed .nav-tabs-empty .nav-link {
  color: var(--tblr-btn-color);
  border: 1px solid var(--tblr-border-color);
  &:hover {
    border: 1px solid var(--btn-border-outline-color);
  }
}

.theme-dark .arkounay-ux-collection.arkounay-ux-collection--tabbed {
  .nav-link.active {
    background-color: #212836;
    border-color: #2C3C56;
    color: white;
  }
  .nav-link:hover {
    border-color: #364660;
  }
  .nav-link {
    color: #626976;
    &:hover {
      color: var(--tblr-border-color-text);
    }
  }
  .card {
    border-color: #2C3C56;
  }
}