.btn-collection-remove:hover {
  @extend .text-danger;
}

.btn-collection-remove .icon {
  color: inherit;
}

.btn-collection-container button .icon {
  margin: 0;
}

.arkounay-ux-collection .collection-content {
  @extend .my-3
}

.arkounay-ux-collection .collection-hide-delete .collection-content {
  @extend .my-0
}

.arkounay-ux-collection .btn-outline-secondary:hover {
  color: inherit;
}

.theme-dark .arkounay-ux-collection {
  .btn {
    color: #626976;
    &:hover {
      color: var(--tblr-btn-color-text);
    }
  }
  .card {
    border-color: var(--tblr-border-color);
  }
}

// button fix
.bg-light.text-secondary {
  color: #626976!important;
}