.btn-collection-remove:hover {
  @extend .text-danger;
}

.btn-collection-remove .icon {
  color: inherit;
}

.btn-collection-container button .icon {
  margin: 0;
}

.arkounay-ux-collection .collection-content {
  @extend .my-3
}

.arkounay-ux-collection .collection-hide-delete .collection-content {
  @extend .my-0
}

.arkounay-ux-collection .btn-outline-secondary {
  @extend .btn;
  @extend .btn-outline-primary;
  box-shadow: none;
}

.arkounay-ux-collection.arkounay-ux-collection--tabbed .nav-tabs-empty .nav-link {
  @extend .btn;
  @extend .btn-outline-primary;
  box-shadow: none;
  --tblr-nav-link-color: #b6bbc5;
  height: 36px;
  font-weight: 500;
}


[data-bs-theme=dark] .arkounay-ux-collection {

  .btn {
    color: #b6bbc5;
    &:hover {
      color: var(--tblr-btn-color-text);
    }
  }
  .btn-collection {
    color: #b6bbc5;
  }
  .card {
    border-color: var(--tblr-border-color);
  }

  .nav-link.active {
    background-color: #1B2434;
  }
  .ux-crop-modal .btn-outline-secondary:hover svg {
    stroke: white !important;
  }
}

.bg-light.text-secondary {
  color: var(--tblr-border-color);
}

[data-bs-theme=dark] .arkounay-ux-collection.arkounay-ux-collection--tabbed {
  .card {
    border-color: #2C3C56;
  }

  .nav-link.active {
    background-color: #212836;
    border-color: #2C3C56;
    color: white;
  }
  .nav-link:hover {
    border-color: #364660;
  }
  .nav-link {
    color: #626976;
    &:hover {
      color: var(--tblr-border-color-text);
    }
  }
  .card {
    border-color: #2C3C56;
  }
}