.ux-media {
  .icon {
    margin: 0;
  }
  .btn:focus {
    border: 1px solid hsla(213,8%,43%,.24);
  }
  .btn-group {
    height: 36px !important;
  }
  .img-preview svg {
    width: 50px;
    min-height: 30px;
  }
}