.ux-media {
  .icon {
    margin: 0;
  }
  .btn:focus {
    border: 1px solid hsla(213,8%,43%,.24);
  }
  .btn-group {
    height: 36px !important;
  }
  .img-preview svg {
    width: 50px;
    min-height: 30px;
  }
  .icon-tabler-crop {
    width: 24px;
    height: 24px;
  }
  margin-bottom: 20px !important;

  &+ .invalid-feedback {
    margin-top: -15px;
    margin-bottom: 5px;
  }
  .btn-collection-remove {
    margin-left: 10px;
  }

  .collection-error-message-button {
    border: none;
    margin-left: 10px;
    height: 30px;
    width: 40px;
  }

  &.error {
    border-color: #d63939 !important;
  }
}

.theme-dark .ux-media {
  &.bg-white {
    background-color: var(--tblr-body-bg) !important;
  }

  .btn-light {
    background-color: var(--tblr-body-bg) !important;
    color: red;
    &:hover {
      border-color: #626976;
    }
  }

  svg {
    stroke: #626976 !important;
  }
}

.ux-media-collection .ux-media {
  margin-bottom: 10px !important;
}