{% for result in results %}
    <div>
        <div class="list-group-header">{{ result.entity|trans }} ({{ result.count }})</div>
        <div class="list-group">
            {% for item in result.items %}
                <a href="{{ item.url }}" class="list-group-item list-group-item-action" data-action="mouseover->global-search#hover" data-global-search-target="resultItem">
                    {% block item qag_entity_to_string(item.entity) %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% if results is empty %}
    <div class="p-3">
        {{ 'No results'|trans }}
    </div>
{% endif %}